body {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
}

div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.data-box {
    width: 200px;
    height: 200px;
    background: red;
}